body {
    background-image: url('../src/imag.png');
    background-size: cover;
    background-position: center;
  }
  
  #root {
    height: 100%;
  }
  .timer {
    font-size: 2rem;
    font-weight: bold;
    color: red;
  }
  